{% extends ""%}

  <section class="sectionBox">
    <div class="container">
      <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
          <h2>Testimonial</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center"> <img class="img-circle" src="assets/images/person_1.png"
                        style="width: 100px;height:100px;"> </div>
                    <div class="col-sm-9">
                      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                      </p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center"> <img class="img-circle" src="assets/images/person_2.png"
                        style="width: 100px;height:100px;"> </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor.
                        Mauris.</p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center"> <img class="img-circle" src="assets/images/person_3.png"
                        style="width: 100px;height:100px;"> </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget
                        pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel"
              class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sectionBox">
    <div class="container">
      <div class="heading">
        <!-- Heading -->
        <h2>About the Company</h2>
        <br />
      </div>
      <div class="row">
        <div class="col-md-4"> <img src="assets/images/spotlight.jpeg" alt="" class="img-responsive"> </div>
        <div class="col-md-8">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. </p>
          <blockquote class="blockquote-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim pariatur
              cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
          </blockquote>
        </div>
      </div>
    </div>
  </section>